{% extends 'core/base.html' %}
{% block content %}
<title>Resume | Skills </title>
<br> &nbsp
<div class="container" >
    <h1 class="text-warning border-bottom">Skills</h1>
    <br> &nbsp
    <div class="row text-white">
        <br>&nbsp
        <div class="col">
            <h3 class="border-bottom">Frontend Languages:</h3>
            <br>
            <h5>
                HTML/CSS <br>
                &nbsp
                <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </h5>
                &nbsp
            <h5>
                Javascript <br>
                &nbsp
                <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </h5>
                &nbsp
            <h5>
                Bootstrap <br>
                &nbsp
                <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </h5> <br>
        </div>
            &nbsp
        <div class="col">
            <h3 class="border-bottom">Backend Languages:</h3>
            &nbsp
            <h5>
                Python <br>
                &nbsp
                <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </h5>
                &nbsp
            <h5>
                Flask <br>
                &nbsp
                <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </h5>
                &nbsp
            <h5>
                Django <br>
                &nbsp
                <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </h5>
                &nbsp </h5>
        </div>
            &nbsp
    </div>
    <br> <br> &nbsp
        <div class="row text-white">
        <div class="col">
            <h3 class="border-bottom">Query Language & DB:</h3>
            &nbsp
            <h5>
                SQL <br>
                &nbsp
                <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </h5>
                &nbsp
            <h5>
                Sqlite3 <br>
                &nbsp
                <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </h5>
                &nbsp
            <h5>
                PostgreSql <br>
                &nbsp
                <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </h5>
                &nbsp
        </div>

        <div class="col">
          <h3 class="border-bottom">Operating Systems:</h3>
          &nbsp
          <h5>
            Windows <br>
            &nbsp
            <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            &nbsp
            </h5>
            <h5>Linux</h5>
            &nbsp
            <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
            </div>
        </div>
    </div>
 </div>
{% endblock content %}
