{% load static %}
<div class="border-right border-warning h-100">
  <div class="text-center">
    <img class="img-fluid rounded-circle mt-5" width="100px" height="100px"
     src="{% static 'core/images/Ajeet.jpg'%}" alt="ProfilePic ">
     <h3 class="text-white">Ajeet Yadav</h3>
  </div>
  <hr class="border-light">
  <nav class="nav flex-column text-center">
    <a href="{% url 'home' %}" class="nav-link {{home}}"class="btn btn-outline-warning my-3 mr-5">Home</a>
    <a href="{% url 'education' %}" class="nav-link {{education}}">Education</a>
    <a href="{% url 'skills' %}" class="nav-link {{skills}}">Skills</a>
    <a href="{% url 'projects' %}" class="nav-link {{projects}}">Projects</a>
    <a href="{% url 'contact' %}" class="nav-link {{contact}}">Contact</a>
  </nav>
</div>
