{% extends 'core/base.html' %}
{% block content %}
<title>Resume | Projects </title>
<br> &nbsp
<div class="container text-start" >
    <h1 class="text-warning mb-5 border-bottom">Projects</h1>
    <div class="row text-white mb-5">
        <div class="col">
            <h3 class="border-bottom">Portfolio:</h3>
            &nbsp
            <p>Portfolio, It is simple resume of mine it is hosted on pythonanywhere.com .</p>
            &nbsp&nbsp
            <h5 >Technologies Used in this project</h5>
            <li>Python</li>
            <li>Django</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
        </div>
        <div class="col">
            <h3 class="border-bottom">Expense Management Site:</h3>
            &nbsp
            <p>Expense Management System is also a simple project with CRUD Operation where we can manage our daily expenses it is GitHub.</p>
            &nbsp&nbsp
            <h5 >Technologies Used in this project</h5>
            <li>Python</li>
            <li>Flask</li>
            <li>SQL</li>
            <li>Sqlite3</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
        </div>
    </div>
</div>
{% endblock content %}
