{% extends 'core/base.html' %}
{% block content %}
<title>Resume | Education </title>
<br> &nbsp
<div class="container " >
 <h1 class="text-warning mb-5 border-bottom">Education</h1>

 <div class="row  text-white">
   <div class="col">
       <h3 class="border-bottom">BCA</h3>
       <p><h5>Institute:</h5>Nistha institute of Science & Technology - Azamgarh</p>
       <p><h5>University:</h5> Makhanlal Chaturvedi National University of Journalism & communication  - Bhopal</p>
   </div>
   &nbsp
   <div class="col">
     <h3 class="border-bottom">Intermediete</h3>
     <p><h5>College:</h5>S G Y I C Sammaudinpur- Mau</p>
     <p><h5>Board:</h5>Uttar Pradesh</p>
 </div>
 &nbsp
 <div class="col">
   <h3 class="border-bottom">Highschool</h3>
   <p><h5>College:</h5>Maa Sharda Inter College Chiraiyakot - Mau</p>
   <p><h5>Board:</h5>Uttar Pradesh</p>
</div>

   </div>
 </div>
</div>



{% endblock content %}
