{% extends 'core/base.html' %}
{% block content %}
<title>Resume | Contact </title>
<div class="container mt-5" >
  <h1 class="text-warning mb-5 border-bottom">Contact</h1>
  <div class="row text-white mb-5">
    <div class="col-sm5">
    <h3 class="border-bottom">Email:</h3>
    &nbsp 
    <h5><a href="mailto:" style="text-decoration: none; color: white; ">Ajeetyadav29599@gmail.com</a></h5>
    </div>
    &nbsp 
    <div class="col-sm5">
      <h3 class="border-bottom">Cell Phone No.:</h3>
      &nbsp 
      <h5><a href="tel:" style="text-decoration: none; color: white; ">+918800186116</a></h5>
      </div>
      &nbsp 
      <div class="col-sm5">
        <h3 class="border-bottom">LinkedIn:</h3>
        &nbsp 
        <h5><a href="https://www.linkedin.com/in/ajeet-yadav-701814179/" style="text-decoration: none; color: white; ">Ajeet Yadav | LinkedIn Account</a></h5>
        </div>
  </div>
</div>
{% endblock content %}

